@page "/"
@rendermode InteractiveServer

<AuthorizeView>
	<Authorized>
		<button @onclick="Halo">Halo</button>
	</Authorized>
</AuthorizeView>

<PageTitle>Home</PageTitle>


@code {
	[CascadingParameter] private Task<AuthenticationState> _authStateTask { get; set; }
	[Inject] public IJSRuntime JS { get; set; }
	[Inject] public BulletinService BulletinService { get; set; }
	public async Task Halo() {
		var authState = await _authStateTask;
		var message = authState.User.Identity.Name;
		await JS.InvokeVoidAsync("alert", message);
	}
}