@page "/comic/create"
@page "/comic/edit/{id}"

<AuthorizeView Roles="Admin,User">
    <NotAuthorized>
        <div class="alert alert-info mt-2">
            Please <a href="/account/login">Login</a> first!
        </div>
    </NotAuthorized>

    <Authorized Context="auth">

        <div class="container">
            <div class="card card-body mb-3">
                <EditForm Model="_currentComic" FormName="ComicForm">
                    <DataAnnotationsValidator />
                    <h3>New Album</h3>
                    <div class="mb-3">
                        <label>Title</label>
                        <InputText class="form-control" @bind-Value="_currentComic.Title" />
                    </div>
                    
                    <button class="btn btn-outline-secondary mb-3" @onclick="ToggleMoreOptionPanel">
                        @(_showMoreOptionPanel ? "Hide Options" : "More Options")
                    </button>
                    @if (_showMoreOptionPanel)
                    {
                        <div class="mb-3">
                            <label>SubTitle</label>
                            <InputText class="form-control" @bind-Value="_currentComic.SubTitle" />
                        </div>

                        <div class="mb-3">
                            <label>Series</label>
                            <InputText class="form-control" @bind-Value="_currentComic.Series" />
                        </div>

                        <div class="mb-3">
                            <label>Author</label>
                            <InputText class="form-control" @bind-Value="_currentComic.Author" />
                        </div>

                        <div class="mb-3">
                            <label>Description</label>
                            <InputText class="form-control" @bind-Value="_currentComic.Description" />
                        </div>

                        <div class="mb-3">
                            <label>Tags</label>
                            <InputText class="form-control" @bind-Value="_tagStr" />
                        </div>

                        <div class="mb-3">
                            <label>Figures</label>
                            <InputText class="form-control" @bind-Value="_characterStr" />
                        </div>
                    }

                    @if (!_isEditMode) {
                        <div class="mb-3">
                            <ComicFileUploader SaveDirectory="@directory"
                                               SaveSubFolder="@_currentComic.FolderName"
                                               OnUploadButtonPressed="HandleUploadButtonPressed" />
                        </div>
                    }

                    <div>
                        @if (_isUploadButtonPressed || _isEditMode) {
                            <button class="btn btn-success" @onclick="HandleUpsertGame">完成</button>
                        }
                    </div>

                </EditForm>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    // TODO : uploader with authentication
    [Inject] public ApiClient ApiClient { get; set; }
    [Inject] public NavigationManager Navigation { get; set; }
    [Inject] public AuthenticationStateProvider AuthProvider { get; set; }
    [Parameter] public string id { get; set; }

    private string directory = Path.Combine(AppState.AssetsFolder, "Comics");
    private bool _isEditMode = false;
    private Comic _currentComic = new();

    private string _tagStr = "";
    private string _characterStr = "";
    private string _oldTitle = "";
    private bool _isUploadButtonPressed = false;

    private bool _showMoreOptionPanel = false;

    protected override async Task OnInitializedAsync() {

        var authState = await AuthProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated ?? false) {

            _currentComic.Code = Utility.GenerateSixDigitCode();
            if (id != null) {
                _isEditMode = true;
                _currentComic = await ApiClient.GetAsync<Comic>($"/api/comic/{id}");
                _tagStr = string.Join(",", _currentComic.Tags);
                _characterStr = string.Join(",", _currentComic.Characters);
                _oldTitle = _currentComic.Title;
            }
        }
    }

    private async Task HandleUpsertGame() {

        _currentComic.Tags = _tagStr.Split(",", StringSplitOptions.RemoveEmptyEntries).ToList();
        _currentComic.Characters = _characterStr.Split(",", StringSplitOptions.RemoveEmptyEntries).ToList();
        _currentComic.Uploader = ""; 
        if (_isEditMode) {
            string newFolderPath = Path.Combine(AppState.AssetsFolder, "Comics", _currentComic.FolderName);
            string oldFolderPath = Path.Combine(AppState.AssetsFolder, "Comics", $"{_currentComic.Code[..3]}", $"[{_currentComic.Code}]{_oldTitle}");
            if (oldFolderPath != newFolderPath) Directory.Move(oldFolderPath, newFolderPath);
            await ApiClient.PutAsync<Comic, Comic>($"/api/comic/{id}", _currentComic);
        }
        else {
            await ApiClient.PostAsync<Comic, Comic>("/api/comic", _currentComic);
        }
        Navigation.NavigateTo($"/comic/{_currentComic.Id}");
    }

    private void HandleUploadButtonPressed(bool isPressed) {
        // 當按鈕被按下時更新狀態
        _isUploadButtonPressed = isPressed;
    }
    private void ToggleMoreOptionPanel()
    {
        _showMoreOptionPanel = !_showMoreOptionPanel;
    }
}
