@page "/video"
<h3>VideoIndex</h3>

<div class="col-md-3 mb-4">
    <div class="card border-0 shadow-sm">
        <div class="ratio ratio-16x9">
            <video src="/Assets/Videos/video.mp4" class="card-img-top" poster="images/placeholder.jpg" controls></video>
        </div>
        <div class="card-body d-flex">
            <img src="avatar.jpg" alt="Channel" class="rounded-circle me-3" width="40" height="40">
            <div>
                <h6 class="card-title mb-1 text-truncate">這是一個影片標題，可以自動省略過長的部分</h6>
                <p class="text-muted mb-0" style="font-size: 0.9rem;">頻道名稱</p>
                <p class="text-muted mb-0" style="font-size: 0.8rem;">100K views • 2 days ago</p>
            </div>
        </div>
    </div>
</div>






@code {
	@inject VideoService VideoService
	protected override Task OnInitializedAsync() {
		return base.OnInitializedAsync();
	}
}
