@inherits FileUpload

<div class="input-group">
    <InputFile OnChange="SelectFiles" class="form-control" multiple />
    @if (isReadyToUpload) {
        <button class="btn btn-primary" @onclick="UploadFile">上傳</button>
    }
    else {
        <button class="btn btn-primary" @onclick="UploadFile" disabled>上傳</button>
    }
</div>

<div class="card card-body">
    <div style="color:@(isUploadFinish ? "green" : "cadetblue")">
        @message
    </div>
    @* file waiting to be uplading list here *@
    @if (browserFiles.Count() > 0) {
        <ol>
            @foreach (var file in browserFiles) {
                <li>@file.Name</li>
            }
        </ol>
    }
</div>

@code {
    protected int finishedFiles = 0;

    protected override async Task UploadFile() {
        finishedFiles = 0;
        isUploadFinish = false;
        message = "檔案上傳中...";
        var saveFolder = Path.Combine(SaveDirectory, SaveSubFolder);
        Directory.CreateDirectory(saveFolder);
        int pageNo = 1;
        foreach (var file in browserFiles) {
            string ext = Path.GetExtension(file.Name);
            var filePath = Path.Combine(saveFolder, $"{pageNo++:D3}{ext}");
            await using FileStream fs = new(filePath, FileMode.Create);
            await file.OpenReadStream(maxAllowedSize: 50 * 1024 * 1024).CopyToAsync(fs);   // 10 MB max
            finishedFiles++;
            StateHasChanged(); // TODO : streaming data
        }
        isUploadFinish = true;
        message = "上傳完成!!";
        browserFiles.Clear();
        await OnUploadButtonPressed.InvokeAsync(true);
    }
}
