@rendermode InteractiveServer

<div class="container-fluid p-0 d-flex">
	<div class="d-flex flex-column bg-body-tertiary vh-100">
		<ul class="nav nav-pills flex-column">
			<li class="nav-item"> 
				<a href="/" class="nav-link active py-3 border-bottom rounded-0 text-black">
					<i class="bi bi-house me-1"></i>
					<span>Home</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/comic" class="nav-link py-3 border-bottom rounded-0 text-black" >
					<i class="bi bi-journal"></i>
					<span>漫畫列表</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/comiclist" class="nav-link py-3 border-bottom rounded-0 text-black">
					<i class="bi bi-journals me-1"></i>
					<span>漫畫合集</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/video" class="nav-link py-3 border-bottom rounded-0 text-black" >
					<i class="bi bi-file-earmark-play me-1"></i>
					<span>影片</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/gallery" class="nav-link py-3 border-bottom rounded-0 text-black" >
					<i class="bi bi-file-image me-1"></i>
					<span>畫廊</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/music" class="nav-link py-3 border-bottom rounded-0 text-black" >
					<i class="bi bi-file-earmark-music me-1"></i>
					<span>音樂</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/rapid-upload" class="nav-link py-3 border-bottom rounded-0 text-black">
					<i class="bi bi-cloud-upload me-1"></i>
					<span>快速上傳</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/settings" class="nav-link py-3 border-bottom rounded-0 text-black">
					<i class="bi bi-gear me-1"></i>
					<span>設置</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<style>
	.nav .nav-item a.nav-link.active{
		color : #fff !important;
	}
</style>
@code {

}
