@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@using Microsoft.AspNetCore.Components.Authorization


<NavMenu />

<div class="p-1">
    @Body
</div>


<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

