@page "/login"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication


<div class="container">
	<div class="row">
		<div class="col-4 offset-4">
			<div class="card card-body mb-3">
				<EditForm FormName="LoginForm" Model="@Model" OnValidSubmit="Auththenticate">
					<DataAnnotationsValidator />
					<div class="mb-3 text-center flex-column">
						<img src="/images/member.png" style="max-height:5rem;" />
						<h3>Login</h3>
					</div>
					<div class="mb-3">
						<label>Username</label>
						<InputText @bind-Value="Model.Username" class="form-control" />
						<ValidationMessage For="@(() => Model.Username)" />
					</div>
					<div class="mb-3">
						<label>Password</label>
						<InputText @bind-Value="Model.Password" class="form-control" type="password" />
						<ValidationMessage For="@(() => Model.Password)" />
					</div>
					<div class="mb-3 text-center">
						<span class="text-danger">@_errorMessage</span>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Login</button>
						<a href="/register" class="btn btn-primary">Register</a>
					</div>
				</EditForm>
			</div>
		</div>
	</div>
	
</div>

@code {
	[CascadingParameter] public HttpContext? HttpContext { get; set; }

	[SupplyParameterFromForm] public LoginViewModel Model { get; set; } = new();

	[Inject] public AuthService AuthService { get; set; }

	[Inject] public NavigationManager NavigationManager { get; set; }

	// [Inject] IHttpContextAccessor HttpContextAccessor { get; set; }

	private string? _errorMessage;
	private async Task Auththenticate() {
		AuthResponse response = await AuthService.LoginAsync(Model.Username, Model.Password);
		if (response.Success) {
			// await HttpContextAccessor.HttpContext!.SignInAsync("Cookies", response.Principal!);
			await HttpContext.SignInAsync(response.Principal);
			NavigationManager.NavigateTo("/");
		}
		else {
			_errorMessage = response.Message;
		}
	}


	public class LoginViewModel {
		[Required(AllowEmptyStrings = false, ErrorMessage = "Please provide username")]
		public string? Username { get; set; }

		[Required(AllowEmptyStrings = false, ErrorMessage = "Please provide password")]
		public string? Password { get; set; }
	}
}
