@page "/settings"
@using MediaNest.Shared.Dtos
@rendermode InteractiveServer
@attribute [Authorize]

<div class="container">
    <div class="row mb-3">
        <h3>Function</h3>
        <ul>
            <li>
                <a href="/change-password">Change Password</a>
            </li>
            <li>
                <a href="/userconfig">User Setting</a>
            </li>
            @if (_currentUserRole == "Admin") {
                <li> 
                    <a href="/account-management">Account Management</a>
                </li>
            }
        </ul>
    </div>
</div>

@code {
    [CascadingParameter] private Task<AuthenticationState> _authStateTask { get; set; }
    private string _currentUserRole;

    protected override async Task OnInitializedAsync() {
        var authState = await _authStateTask;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            // **保持你的邏輯：僅做角色字串賦值**
            _currentUserRole = user.IsInRole("Admin") ? "Admin" : "Other";
        }
    }
}